<div class="medium-3 large-2 medium-pull-9 large-pull-10 columns">

  <ul class="vertical menu docs-nav" id="docs-menu">

    <li class="docs-nav-title">Getting Started</li>

    <li
    {{#ifpage 'index'}}
        class="current"
    {{/ifpage}}
    ><a href="index.html">Overview</a></li>
    <li><a href="index.html#principles">Principles</a></li>
    <li><a href="index.html#visual-tour">Visual Tour</a></li>
    <li><a href="index.html#menus">Menus</a></li>

    <li class="docs-nav-title">Scores</li>
    <li
    {{#ifpage 'createscore'}}
        class="current"
    {{/ifpage}}
    ><a href="createscore.html">Creating</a></li>

    <li
    {{#ifpage 'textareas'}}
        class="current"
    {{/ifpage}}
    ><a href="textareas.html">Text Areas</a></li>

    <li
    {{#ifpage 'musicareas'}}
        class="current"
    {{/ifpage}}
    ><a href="musicareas.html">Music Areas</a></li>

    <li
    {{#ifpage 'properties'}}
        class="current"
    {{/ifpage}}
    ><a href="properties.html">Properties</a></li>

    <li
    {{#ifpage 'examples'}}
        class="current"
    {{/ifpage}}
    ><a href="examples.html">Examples</a></li>

    <li class="docs-nav-title">Advanced</li>
    <li
    {{#ifpage 'licensing'}}
        class="current"
    {{/ifpage}}
    ><a href="licensing.html">Licensing</a></li>

    <li
    {{#ifpage 'studiofeatures'}}
        class="current"
    {{/ifpage}}
    ><a href="studiofeatures.html">Features</a></li>

  </ul>

</div>
